/**animate react icon */
.icon-size {
    width: 75px;
    height: 75px;
    
}

.react-icon {
    width: 75px;
    height: 75px;
    padding-top: -20px;
    margin-left: 130px;
    position: relative;
    transform: translate(-100%, -100%);
    
    transform-origin: right 200px;
    animation: rotateZIfinite 3s infinite;
    z-index: 0;
    /**filter: drop-shadow( 1px 1px 5px rgb(164, 235, 233));*/
}


@keyframes rotateZIfinite {
    0% {
        transform: rotateZ(0deg);
    }
    25% {
        transform: rotateZ(90deg);
    }
    50% {
        transform: rotateZ(180deg);
    }
    75% {
        transform: rotateZ(270deg);
    }
    100% {
        transform: rotateZ(360deg);
    }
}

/** animate css icon*/
.css-icon {
    position: relative;
    padding-top: -20px;
    margin-left: -75px;
    
    transform: translate(-100%, -100%);
    transform-origin: right 200px;
    animation: rotateZIfinite 5s infinite;
    z-index: 2;
}


.js-icon {
    margin-left: -75px;
    position: relative;
    padding-top: -20px;
    transform: translate(-100%, -100%);
    transform-origin: right 200px;
    animation: rotateZIfinite 7s infinite;
    z-index: 3;
}
.html-icon {
    margin-left: -75px;
    position: relative;
    padding-top: -20px;
    transform: translate(-100%, -100%);
    transform-origin: right 200px;
    animation: rotateZIfinite 9s infinite;
    z-index: 4;
}


.platform {
    width: 400px;
    height: 400px;
    border-radius: 50%;
    /**box-shadow: 2px 2px 4px 6px rgb(164, 235, 233);*/
    /**border: 2px solid rgb(0, 46, 46);*/
    display: block;
    justify-content: baseline;
    /**animation: shadowBlick infinite 6s;*/
}

@keyframes shadowBlick {
    0% {
        box-shadow: 2px 2px 4px 6px rgb(164, 235, 233);
    }
    50% {
        box-shadow: 6px 2px 4px 2px rgb(164, 235, 233);
    }
    100% {
        box-shadow: 2px 4px 6px 2px rgb(164, 235, 233);
    }
}

.frontend-field {
    display: flex;
}
.btn-change {
    margin: 20px;
    background-color: rgb(1, 61, 61);
    color: rgb(164, 235, 233);
    font-size: 20px;
    border: none;
}
.more-info {
    display: flex;
    margin-top: 20px;
}
.for-backend {
    display: block;
    height: 400px;
    width: 400px;
    margin: 0;
    margin-top: 20px;
    background: rgb(0, 73, 73);
    color: rgb(164, 235, 233);
    font-family: monospace;
}
.backend-field {
    display: flex;
}
.express-icon {
    position: relative;
    animation: moveUpDown infinite 5s;
}
.mongoose-icon {
    position: relative;
    animation: moveUpDown infinite 7s;
}
.nodejs-icon {
    position: relative;
    animation: moveUpDown infinite 10s;
}

@keyframes moveUpDown {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(25rem);
    }
    100% {
        transform: translateY(0);
    }
}

.back-info {
    display: flex;
}

.about-image {
    width: auto;
    height: 300px;
    box-shadow: 0px 0px 6px 6px rgb(164, 235, 233)
}

.me {
    display: flex;
}
.me-about {
    margin-left: 20px;
}

@media screen and (min-width: 360px) {
    .me {
        display: block;
    }
    .about-image {
        width: 100%;
        height: auto;
        box-shadow: 0px 0px 6px 6px rgb(164, 235, 233)
    }
    .frontend-field {
        display: block;
    }
    .backend-field {
        display: block;
    }
    .for-backend {
        width: 100%;
    }
    .platform {
        width: 400px;
        height: 400px;
        border-radius: 50%;
        /**box-shadow: 2px 2px 4px 6px rgb(164, 235, 233);*/
        /**border: 2px solid rgb(0, 46, 46);*/
        display: block;
        justify-content: baseline;
        transform: translateX(-30px);
        /**animation: shadowBlick infinite 6s;*/
    }
}

@media screen and (min-width: 700px) {
    .me {
        display: flex;
    }
    .about-image {
        width: auto;
        height: 300px;
        box-shadow: 0px 0px 6px 6px rgb(164, 235, 233)
    }
    .frontend-field {
        display: flex;
    }
    .backend-field {
        display: flex;
    }
    .for-backend {
        display: block;
        height: 400px;
        width: 400px;
        margin: 0;
        margin-top: 20px;
        background: rgb(0, 73, 73);
        color: rgb(164, 235, 233);
        font-family: monospace;
    }
    .platform {
        width: 400px;
        height: 400px;
        border-radius: 50%;
        /**box-shadow: 2px 2px 4px 6px rgb(164, 235, 233);*/
        /**border: 2px solid rgb(0, 46, 46);*/
        display: block;
        justify-content: baseline;
        /**animation: shadowBlick infinite 6s;*/
    }
    
}