.home {
    width: 100%;
    min-height: 100vh;
    background-color: rgb(0, 73, 73);
    color: rgb(164, 235, 233);
}
.cont {
    padding: 20px 100px 20px 100px;
    color: rgb(164, 235, 233);
    
}

.postCard {
    margin-bottom: 20px;
    padding: 20px;
    border: 2px solid rgb(0, 46, 46);
}